#cardList {
    display: flex;
    gap: 120px;
}

.hero {
    display: flex;

}

.form {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
}

input {
    margin-bottom: 8px;
    text-align: center;
}