.dark,
.dark input,
.dark button {
    background: #222;
    color: white;
}

.dark input{
    border: 1px solid #fff;
}

.dark button {
    border-radius: 4px;
}

.hero {
    display: flex;

}

#cardList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
}

input,
.dark input {
    margin-bottom: 8px;
    text-align: center;
    border-radius: 4px;
}

button {
    background: gray;
    color: white;
    border-radius: 4px;
    padding: 4px 8px;
    margin-bottom: 4px;
    cursor: pointer;
}

button:hover {
    /* filter: brightness(1.2); */
    opacity: 0.8;
}

.active {
    background: green !important;
    color: white;
}

ul {
    list-style: none;
}

.cardItem {
    padding: 16px;
    text-align: center;
    color: black;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.cardItem:hover {
    transform: translateY(-4px);
}

.dark .cardItem {
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.3);
}

.compacto {
    padding: 8px;
}

.ativo {
    background-color: #d2ffce;
    border: 3px solid green;
    border-radius: 16px;
}

.inativo {
    background-color: #faa6a6;
    border: 2px solid red;
    border-radius: 16px;
}

.adulto {
    border-left: 6px solid green;
}

.menor {
    border-left: 6px solid red;
}

.hidden {
    display: none !important;
}

#message {
    font-size: 24px;
}