.dark,
.dark input,
.dark button {
    background: #222;
    color: white;
}

.dark input{
    border: 1px solid #fff;
}

.dark button {
    border-radius: 4px;
}

.hero {
    display: flex;

}

#cardList {
    display: flex;
    gap: 120px;
}

.form {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
}

input,
.dark input {
    margin-bottom: 8px;
    text-align: center;
    border-radius: 4px;
}

/* .offAdult {
    background: gray;
    color: white;
} */

button {
    background: gray;
    color: white;
    border-radius: 4px;
}

.active {
    background: green !important;
    color: white;
}

ul {
    list-style: none;
}

.cardItem {
    padding: 16px;
    text-align: center;
    color: black;
}

.compacto {
    padding: 8px;
}

.ativo {
    background-color: #d2ffce;
    border: 3px solid green;
    border-radius: 16px;
}

.inativo {
    background-color: #faa6a6;
    border: 2px solid red;
    border-radius: 16px;
}

.adulto {
    border-left: 6px solid green;
}

.menor {
    border-left: 6px solid red;
}

.hidden {
    display: none !important;
}

#message {
    font-size: 24px;
}